.auth-cont{
    display: flex;
    height : 100vh;
}

.left{
    width: 35%;
    background: linear-gradient( #4beccf, #21a28a );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left > p{
    font-size: 1.3rem;
}

.right{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.google{
    padding: 0rem 2rem;
    background-color: white;
    border-radius: 1rem;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.google > p{
    margin: 1.5rem 2rem;
    font-size: 1.5rem;
    
}