
.only-on-mobile{
    display: none !important;
}

.nav-cont{
    position: absolute;
    top : 0;
    display: flex;
    justify-content: space-between;
    padding: 0rem 3rem;
    background: transparent;
    transition: background-color 0.6s;
}

.logo {
    width: 25vw;
    transform: translateY(0.5vh);
    transition: filter 0.6s;
    cursor: pointer;
}

.profile-pic {
    border-radius: 100%;
    width : 3vw
}

.profile-button{
    position: relative;
    margin-left: 3.5vw;
    
}

.profile-options{
    position: absolute;
    
    padding: 0vw 0vw;
}

.profile-options button{
    width : 100%;
    border : none;
    background-color: aliceblue;
    font-size: calc( min(1.5vw, 1.5rem) );
    padding: 0.5rem 2vw;
    border-bottom: 1px solid #201f26;
    cursor: pointer;
}

.profile-options button:hover{
    background-color: rgb(214, 235, 252)
}

.nav-list{
    display: flex;
    justify-content: right;
    width : 40vw;
    margin-left: 5vw;
    font-size: calc( min(2vw, 2rem) );
    align-self: center;
    align-items: center;
}

li{
    list-style-type: none;
}

.nav-list > a {
    text-decoration: none;
    list-style-type: none;
    font-weight: 600;
    transition: all 0.6s;
    cursor: pointer;
    color: #201f26;
    margin-left: 3.5vw;
}

.nav-cont:hover{
    background-color: #49463c;
    .logo {
      filter: invert(100%);
    }
    .nav-list >a  {
      color : rgb(247, 247, 247);
    }
  }

 

.nav-cont input {
    border: 0;
    margin: 0.5vh 0rem;
    align-self: center;
    height: 5.6vh;
  width : 25vw;
  padding : 0.5rem 1rem;
  font-size: 1.35vw;
  font-weight: 600;
  border-radius: 10rem;
  border : 2px solid #201f26;
  box-sizing: border-box;
  transition: border-radius 0.5s;
}

.nav-cont input:focus{
    border-radius: 1.2rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@media (min-width : 1000px){
    .nav-cont{
        padding: 0rem calc(5vw + 3rem);
    }
    .logo{
        width: 15vw;
    }
}

@media (max-width : 775px){
    .nav-list{
        margin-left: 1vw;
    }
    .nav-cont{
        padding: 0rem 1rem;
    }
}

@media (max-width : 550px) {

    .only-on-mobile{
        display: list-item !important;
        list-style-type: none;
    }

    .only-off-mobile{
        display: none;
    }

    .nav-cont{
        flex-direction: row;
        width : 100vw;
        box-sizing:border-box;
        padding: 0;
        justify-content: space-around;
    }    

    .head-images{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-profile-mobile{
        width : 20vw
    }

    .nav-cont> input{
        display: none;
    }

    .nav-list{
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 1.5rem;
        margin: 1.2rem;
        width : auto;
        margin-top : 0.35rem;
        
    }

    .nav-list a{
        margin-top: 0.35rem;
    }

    .nav-list > li {
        margin: 0.5rem 2.5rem;
        width : 20%;
        padding: auto;
        
    }
    .logo{
        margin: auto;
        width: 12rem;
    }
    .nav-cont input{
        width: 70vw;
    }    
}